rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId} {
      match /{allPaths=**} {
        allow read: if true;
      }

      match /photo {
        allow write: if isAuthUid(userId) && isLtMb(5);
        allow delete: if isAuthUid(userId);
      }
    }

    function isAuthUid(uid) {
      return request.auth.uid == uid;
    }

    // is the request file size less than in MB
    function isLtMb(mb) {
      return request.resource.size < mb * 1024 * 1024;
    }
  }
}
